<div class="container">
  <h1>All my restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
    <div>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %> - with typical <strong><%= restaurant.category %></strong> food</li>
    </div>
    <% end %>
  </ul>
</div>
